<div class = "navigation">
<nav>
	<ul>
    <li class = "active"><a> <%= link_to "Home" , root_path %>  </a></li>
    <li> <a> <%= link_to "About the club" , about_the_club_path %> </a></li>
    <li> <a> <%= link_to "How to Join" , how_to_join_path %> </a> </li>
    <li> <a> <%= link_to "#{Time.now.year} Programme" , programme_path %> </a> </li>
    <li> <a> <%= link_to "How to get there" , how_to_get_there_path %> </a></li>
    <li> <a> <%= link_to "Links to Croquet sites" , links_to_croquet_site_path %> </a> </li>
     <li> <a> <%= link_to "Newsletter" , newsletter_path %> </a> </li>

	</ul>
</nav>
</div>
